<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="PublicApiToken" value=""/>
    <add key="PublicApiBaseAddress" value="https://tenantname.waspassetcloud.com/"/>
    <add key="PublicApiTimeoutSeconds" value=""/>
    <add key="AutomaticUpdateFolder" value="C:\ProgramData\Wasp Barcode Technologies\MobileAssetWeb\AutoUpload"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
